body{
    background-color:rgb(82, 165, 100);
}
.container{
    
    width: 100%;
    height: 95vh;
    text-align: center;
    margin: 5px;
    padding:5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#guess{
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 20%;
    font-size: 2rem;
}

#guess:focus{
    outline: none;
}

#button{
    border-radius: 10px;
    border: none;
    background-color:blue;
    color: white;
    opacity: 0.8;
    font-size: 2rem;
}

label{
    font-size: 2rem;
}
p{
    font-size: 2rem;
}